.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--text-color-1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 501;
    mix-blend-mode: difference;
    pointer-events: none;
}

.circle.cursor__fill{
    transform: scale(4);
}