.projects__page{
    padding-top: 20vh;
    padding-inline: 20px;
}

.projects__page > .projects__list{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projects__page > .projects__list > li{
    width: 100%;
    height: fit-content;
}

.projects__page > .projects__list > li > a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 30px 0px 30px 100px;
    gap: 3rem;
}

.projects__page > .projects__list > li > a > .project__number{
    width: 10%;
    color: var(--text-color-4);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.68rem;
    letter-spacing: 1px;
}

.projects__page > .projects__list > li > a > .project__name{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects__page > .projects__list > li > a > .project__name > .name{
    display: block;
    width: 95%;
    color: var(--text-color-1);
    font-weight: 100;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.projects__page > .projects__list > li > a > .project__name > .arrow{
    width: 5%;
    color: var(--text-color-1);
    font-size: 1.5rem;
    text-align: end;
}

/* Project Image  */
.project__image{
    position: absolute;
    z-index: 2;
    width: 400px;
    height: 190px;
    right: 200px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
    transform: scale(0);
    transform-origin: center;
    pointer-events: none;
}

.project__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.project__image.mobile{
    display: none;
}

.projects__page > .projects__list:hover .project__image{
    opacity: 1;
    transform: scale(1);
}

@media only screen and (max-width: 1024px){
    .projects__page > .projects__list > li > a > .project__name > .name{
        font-size: 1.7rem;
    }

    .projects__page > .projects__list > li > a{
        padding: 30px 0px 30px 20px;
    }
}

@media only screen and (max-width: 768px){
    .projects__page > .projects__list > li > a > .project__name > .name{
        font-size: 1.5rem;
    }

    .projects__page > .projects__list > li > a{
        padding: 30px 0px 30px 0px;
    }
}

@media only screen and (max-width: 767px){
    .projects__page > .projects__list > li > a{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
    }

    .projects__page > .projects__list > li > a > .project__number,
    .projects__page > .projects__list > li > a > .project__name{
        width: 100%;
    } 
}

@media only screen and (max-width: 425px){
    .projects__page > .projects__list > li > a > .project__name > .name{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 375px){
    .projects__page > .projects__list > li > a > .project__name > .name{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 320px){
    .projects__page > .projects__list > li > a > .project__name > .name{
        font-size: 1.1rem;
        word-wrap: break-word;
    }
}